@model Fiap.Web.Models.CarrinhoDTO

@if (Model.CarrinhoPedido != null)
{
	@if (Model.CarrinhoDetalhe.Count() > 0)
	{
		<form method="post">
			<br />
			<input asp-for="CarrinhoPedido.UserId" hidden />
			<input asp-for="CarrinhoPedido.CarrinhoPedidoId" hidden />
			<div class="">
				<div class="card border mt-4 container">
					<div class="card-header bg-dark text-light ml-0 row ">
						<div class="col-6">
							<i class="fa fa-shopping-cart"></i> &nbsp;
							Carrinho de compras
						</div>
						<div class="col-6 text-end">
							<a asp-action="Index" asp-controller="Home" class="btn btn-outline-warning btn-sm">Continue comprando</a>
						</div>
					</div>
					<div class="card-body">
						<div class=" d-none d-lg-block">
							<div class="row text-info">
								<div class="col-lg-2">
								</div>
								<div class="col-lg-5">
									Detalhe do curso
								</div>
								<div class="col-lg-2">
									Preço
								</div>
								<div class="col-lg-2">
									Quantidade
								</div>
								<div class="col-lg-1">
								</div>
							</div>
						</div>

						<hr />
						@foreach (var carrinhoObj in Model.CarrinhoDetalhe)
						{
							<div class="row h-100">
								<div class="col-4 col-md-2 text-center py-2">
									<img src="@carrinhoObj.Curso.ImagemURL" class="rounded" width="100%" />
								</div>
								<div class="col-8 col-md-5">
									<h5>@carrinhoObj.Curso.Nome</h5>
									<div style="font-size:11px;">@Html.Raw(carrinhoObj.Curso.Descricao)</div>
								</div>
								<div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
									<span style="font-size:17px;">@string.Format("{0:c}",carrinhoObj.Curso.Preco) </span>
								</div>
								<div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
									<span style="font-size:17px;"> @carrinhoObj.Count</span>
								</div>
								<div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
									<a asp-action="Remove" asp-route-cartDetailsId="@carrinhoObj.CarrinhoDetalhesId" class="btn btn-outline-danger">
										<i class="fas fa-trash"></i>
									</a>
								</div>
							</div>
							<hr />
						}
						<div class="row">
							<div class="col-6">
								@if (string.IsNullOrEmpty(Model.CarrinhoPedido.CodigoPromocional))
								{
									<span>Coupon:</span>
									<input asp-for="CarrinhoPedido.CodigoPromocional" />
									<button type="submit" asp-action="ApplyCoupon" class="btn-success"> Aplicar </button>
								}
								else
								{
									<span>Coupon:</span>
									<input asp-for="CarrinhoPedido.CodigoPromocional" disabled />
									<button type="submit" asp-action="RemoveCoupon" class="btn-danger"> Retirar </button>
								}

							</div>
							<div class="col-6 text-end">
								<span class="text-danger" style="font-size:21px;">  Total do pedido : @string.Format("{0:c}", Model.CarrinhoPedido.TotalDoPedido) <br /></span>
								@if (Model.CarrinhoPedido.DescontoTotal > 0)
								{
									<span class="text-success"> Desconto do pedido :  @string.Format("{0:c}", Model.CarrinhoPedido.DescontoTotal)</span>

								}
							</div>
						</div>
					</div>
					<div class="card-footer row">
						<div class="col-6 col-md-3 offset-md-6">
						</div>
						<div class="col-6 col-md-3">
							<a asp-action="Checkout" class="btn btn-success form-control ">
								<span>Checkout</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	}
	else
	{
		<div>
			<p>Adicione cursos no carrinho.</p>
		</div>
	}
}
else
{
	<div>
		<p>Adicione cursos no carrinho.</p>
	</div>
}
